html, body {
    background-color: #ffffff;
    color: #636b6f;
    font-family: 'Yu Gothic';
    font-weight: 400, Regular;
    height: 100vh;
    margin: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
}

.full-height {
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

ul{
    list-style:none;
    padding: 0;
}


.btn-circle a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 4px 0px #00000005;

}



.btn-circle i {
    color: #B9C0CC;
    font-size: 24px;
}

input{
    background-color: #ffffff;
}

.btn{
    background-color: #2D9BE7;
    border-radius: 20px;
    color: #FFFFFF;
    width: 200px;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
}

.section_wrap .btn{
    margin: 0 auto;
}

.section_wrap{
    width: 80%;
    max-width: 920px;
    margin: 0 auto;
}

.section_wrap h2{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 0;
}
.section_wrap h2+p{
    font-size: 0.8rem;
    text-align: center;
}