.header{
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4;
    height: 64px;
    color: #B9C0CC;
    padding: 0 30px;
}

.logo img{
    height: 30px;
}

.logo h1{
    font-size: 1em;
}

.links ul {
    margin: 0 30px;
}

.links a {
    color: #B9C0CC;
    background-color: none;
    transition: background-color ease-in 0.5s;
}

.links a:hover{
    background-color: rgb(121, 121, 121);
}

